.DS_Store
/node_modules
Fun/10/static/img1.png
Fun/10/static/img2.png
Fun/10/static/img3.png
Fun/10/static/img4.png
Fun/10/static/v1.mp4
Fun/10/static/v2.mp4
Fun/10/static/v3.mp4
Fun/10/static/v4.mp4
Fun/11/static/heart.png
Fun/12/static/p404.png
.vscode/
style.css.map
style.scss
