@mixin init {
	margin: 0;
	padding: 0;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	@include init;
}

#page {
	min-width: 100vw;
	min-height: 100vh;
	background: #0074d0;
	@include flex-center;

	.loader {
		position: relative;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		box-shadow: 0 0 0 15px #080b1d;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 50%;
			background: linear-gradient(45deg, #0b0f25 30%, #2196f3);
			animation: loading 1s linear infinite;
		}

		&::after {
			content: '';
			position: absolute;
			top: 8px;
			left: 8px;
			bottom: 8px;
			right: 8px;
			border-radius: 50%;
			background: #0b0f25;
			box-shadow: inset 0 0 0 5px #080b1d;
		}
	}
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
