* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #353b48;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  width: 600px;

  .btn {
    margin: 30px;
    position: relative;
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;

    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 4px;
      background: #353b48;
      transform: skewX(50deg);
      transition: 0.5s;
    }

    &::before {
      top: -4px;
      left: 10%;
    }

    &::after {
      bottom: -4px;
      right: 10%;
    }

    &:hover::before {
      left: 80%;
    }

    &:hover::after {
      right: 80%;
    }
  }

  .primary {
    color: #3498db;
  }

  .success {
    color: #2ecc71;
  }

  .danger {
    color: #e74c3c;
  }

  .warning {
    color: #f39c12;
  }
}
